.button {
  padding: 15px;
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 6px var(--shadow);
  font-size: 105%;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color2);
  justify-self: center;
  margin: 15px 0;
}

.button:hover {
  transform: translateY(-2px);
  cursor: pointer;
  background-color: var(--gradient);
  transition: all 0.3s ease;
}
