.card {
  background: var(--background);
  padding: 25px;
  border-radius: 15px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.card__title {
  font-size: 135%;
}

.card__bookmark-icon {
  position: absolute;
  height: 60px;
  right: 5px;
  top: -18px;
  stroke: var(--bookmark-icon);
  stroke-width: 1.3px;
  fill: var(--bookmark-icon--filling);
}

.card__bookmark-icon--active {
  fill: var(--primary);
}

.card__text {
}

/* 
way to change svg-color??

.card__bookmark-icon--frame {
  fill: var(--primary);
}
.card__bookmark-icon--filling {
  fill: var(--primary);
} */
