.navigation {
  display: grid;
  grid-auto-flow: column;
  background: var(--primary);
}

.navigation__link {
  text-decoration: none;
}

.navigation__icon {
  height: 34px;
  fill: none;
  stroke-width: 1.5px;
  stroke: var(--text-color2);
}

.navigation__icon--active {
  fill: var(--text-color2);
  stroke-width: 0;
  height: 35.5px;
}
