/* === Colors === */

.lightmode {
  --primary: #7ed174;
  --gradient: #1a581388;
  --background-main: #f5fff4;
  --background: #7dd17459;
  --bookmark-icon: #28941c;
  --bookmark-icon--filling: #c4eec0;

  --text-color1: #0a0a0ade;
  --text-color2: #fbfff2;
  --shadow: #888888;
}

.darkmode {
  --primary: #7ed174;
  --gradient: #1a581388;
  --background-main: #0b3108;
  --background: #7dd17459;
  --bookmark-icon: #28941c;
  --bookmark-icon--filling: #c4eec0;

  --text-color1: #0a0a0ade;
  --text-color2: #fbfff2;
  --shadow: #888888;
}
