.card {
  background: var(--background);
  padding: 25px;
  border-radius: 15px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.card__title {
  font-size: 135%;
}

.card__bookmark-icon {
  position: absolute;
  height: 60px;
  right: 5px;
  top: -20px;
}

.card__text {
}

.card__text--no-display {
  display: none;
}
