.card-grid {
  overflow-y: scroll;
  display: grid;
  align-content: start;
  gap: 20px;
  padding: 30px 20px;
}

/* fix padding-bottom rendering on grid: */
.card-grid > *:last-child {
  position: relative;
}

.card-grid > *:last-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}
