.header {
  position: relative;
  background: var(--primary);
  color: var(--text-color2);
}

.header:after {
  content: '';
  position: absolute;
  top: 100%;
  height: 4px;
  left: 0;
  width: 100%;
  background-image: linear-gradient(var(--gradient), transparent);
}

.header__title {
  font-size: 22px;
}
