html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 48px auto 48px;
  max-width: 600px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 112.5%;
  font-family: sans-serif;
}
